body{
    background-color: lightgray;
}
h2{
    color: blue;
    font-size: 30px;
    font-family: sans-serif;
}

button{
    border-radius: 5px;
    border-style: none;
    width: 150px;
    height: 60px;
    font-size: 23px;
    font-weight: bold;
    color:white;

}

#button-1{
    background-color: #ff6907;
}

#button-2{
    background-color: green ;
}

#button-3{
    background-color: blue;
}

button:hover {
    opacity: 0.5;
    transition: opacity ease-in-out 0.2s;

}